*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{   
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    
}


main
{
    font-family: "Montserrat", monospace;
    color: #463F3A;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
}

section
{
    padding: 3em 0 1em 0;
}

h2,h3
{
    line-height: .8;
    text-align: center;
}

p
{
    margin-bottom: 0.85em;
    font-size: .8em;
}
img
{
    display: block ;
    max-width: 100%;
}
.logo
{
    color: rgb(42, 42, 42);
    font-family: "Josefin Sans", monospace;
    text-align: center;
    cursor: pointer;
}
.logo a
{
    text-decoration: none;
    color: black;
}
span
{
    color: #8A817C;
}
header
{
    padding: 1em 0 2em;
    box-shadow: 2px 2px 15px #BCB8B1;
    
}

nav ul
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a
{
    display: inline-block;
    padding:0.5em;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", monospace;
}

nav a:hover, nav a:focus
{
    color: rgb(163, 128, 38);
    text-decoration: underline;
}
.intro
{
    padding-bottom: 6.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.intro img
{
    width: 15em;
}

.intro #arrow
{
    width: 2em;
}

.section-title
{
    /* text-align: center; */
    /* line-height: 1em; */
    margin: 1em;
    font-size: 1em;
}

.about-me
{
    color: #BCB8B1;
    background-color: #463F3A;
    padding: 3em 1em;
}

.about-us-content 
{
    padding: 1em 1em;
    margin: 2em 1em;
}


.skill-container
{
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding:2em;
    padding-top: 3em;
}

.skill-box
{
    color: black;
    cursor: pointer;
}

.skill-title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin-bottom: 1em;
}

.skill-icons
{
    width: 2.5em;

}


.portfolio-container
{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100%;
    
}

.portfolio-container img
{
    width: 30em;
}

.portfolio-link
{
    text-decoration:none ;
    color: black;
    text-align: center;

}

footer
{
    background-color: #2b2724;
    color:#BCB8B1;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    gap: 5em;
}

footer a
{
    color: #BCB8B1;
    font-family: "Montserrat", monospace;
}
.footer-nav
{
    list-style-type:none;
    padding-top: 1em;

}

.footer-nav a
{
    /* padding: .75em; */
    text-decoration:none ;
}

.footer-nav a:hover
{
    text-decoration: underline;
}

.footer-social
{
    list-style-type: none;
    /* padding: 1em 1.2em; */
}
.link-icon
{
    width: 1.5em;
    margin: 1em;
}



@media only screen and (min-width: 768px)
{
    h1
    {
        font-size: 3em;
    }

    p
    {
        font-size: 1.5em;
    }
    
    .section-title
    {
        font-size: 2.2em;
        padding: 2em;
    }

    .intro
    {
        margin: 2em;
    }

    .intro img
    {
        width: 25em;
    }
    .intro #arrow
    {
        width: 4em;
        margin: 1em;
    }
    nav a
    {
        font-size: 1.5em;
    }

    .about-us-content
    {
        padding: 1em 3em;
    }

    
    .skill-icons
    {
        width: 5em;
    }

    .skill-box
    {
        padding: 1em 2em;
    }
    
    .skill-box p
    {
        font-size: 1.3em;
    }

    .overlay .text
    {
        font-size: 1.5em;
    }

    .footer-nav a
    {
        font-size: 1.2em;
    }

    .footer-social
    {
        width: 3.5em;
        margin: 1em;
    }

  
}


@media only screen and (min-width: 992px)
{
    h2,h1,nav a, .footer-nav a, p
   {
    margin: 0;
    padding: 0;

   }
   .glasses
   {
    width: 20em;
   }
   header, main, footer,p
   {
    font-size: 1.2em;
   }
   
   
   .skill-icons
   {
    width: 100px;
   }
   .link-icon
   {
    width: 60px;
   }

   header
{
    width: 100%;
    height: 6%;
    box-shadow: 1px 1px 8px darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#f1f1f1;
}


.skill-icons
{
    width: 80px;
}
nav li 
{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    
}

nav li a
{
    
    padding: 10px 15px;
}
.about-us-content
{
    padding: 1em 15em 1em 15em;
}
.portfolio h2
{
    margin: 2em;
}

.portfolio-wrapper
{
    display: flex;
    padding-bottom: 5em;
    
}

    .intro
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem;
        padding: 6em;
      }

    .container 
    {
        position: relative;
        border-radius: 10px;
      }
      
      .portfolio-img 
      {
        display: block;
        width: 100%;
        height: auto;
        transition: .3s ease-in-out;
        
      }
      
      
      .overlay 
      {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.1);
        background-blend-mode: multiply;
        transition: .3s ease-in-out;
        
      }
      
      .container:hover .overlay 
      {
        opacity: 1;
        transform: scale(1.1); 
      }
      .container:hover img 
      {
        transform: scale(1.1); 
      }
      
      
      .text 
      {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .footer-s ocial
      {
        width: 4.5em;
      }
      
      
}